/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/05/2021, 00:06:50
    Author     : monteiro
*/

#botao1{
    background-color: orange;
    color: white;
    border: none;
}
#botao1 a:link{
   text-decoration: none;
    color: white;
}
#botao2{
    background-color: red;
    color: white;
    border: none;
}
#botao2 a:link{
   text-decoration: none;
    color: white;
}