/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/05/2021, 00:28:16
    Author     : monteiro
*/
.parallax3 {
    background-image: url("../img/5921.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
     background-color: #eaf3fa;
     background-size: contain;
     
   
}

