<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <servlet-class>servlet.CadastrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeslogarServlet</servlet-name>
        <servlet-class>servlet.DeslogarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarVendaServlet</servlet-name>
        <servlet-class>servlet.venda.RealizarVendaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <url-pattern>/CadastrarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <servlet-class>servlet.AtualizarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <servlet-class>servlet.ListarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <servlet-class>servlet.RemoverProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <url-pattern>/CadastrarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <url-pattern>/AtualizarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <url-pattern>/ListarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <url-pattern>/RemoverProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListaClienteServlet</servlet-name>
        <servlet-class>servlet.cliente.ListaClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClienteServelet</servlet-name>
        <servlet-class>servlet.cliente.CadastrarClienteServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirClienteServelet</servlet-name>
        <servlet-class>servlet.cliente.ExcluirClienteServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarClienteServelet</servlet-name>
        <servlet-class>servlet.cliente.AlterarClienteServelet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaClienteServlet</servlet-name>
        <url-pattern>/ListaClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClienteServelet</servlet-name>
        <url-pattern>/CadastrarClienteServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirClienteServelet</servlet-name>
        <url-pattern>/ExcluirClienteServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarClienteServelet</servlet-name>
        <url-pattern>/AlterarClienteServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeslogarServlet</servlet-name>
        <url-pattern>/DeslogarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarVendaServlet</servlet-name>
        <url-pattern>/RealizarVendaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
